.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .title{
    margin-top: 82px;
    margin-bottom: 27px;
    font-size:23px;
  }
  .select_step{
    position: relative;
     top: -22px;
  }
  .input-group{
    position: relative;
  }
  .input{
    display: flex;
  width: 327px;
  height: 40px;
  justify-content: center;
  align-items: center;
  }
  .Placeholder{
    position: absolute;
    top: 10px;
    left: 8px;
    font-size: 14px;
    padding: 0px 5px;
    color: #E6E0E9;
    transition: 0.3s;
    pointer-events: none;
  }
  .input:focus + .Placeholder{
    top: -10px;
    color: black;
    background-color: white;
  }
  .submit-btn{
    width: 162px;
  height: 43px;
  background-color: #A4E5E1;
  text-align: center;
  border-radius: 8px;
  margin-left:6rem ;
  }
  .submit-btn input{
    outline: none;
    border: none;
    background-color:  #A4E5E1;
  padding: 12px;
  gap: 10px;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 16px */
  letter-spacing: -0.16px;
  }